# SPDX-FileCopyrightText: 2026 H2Lab Development Team
# SPDX-License-Identifier: Apache-2.0

source [find interface/jlink.cfg]
transport select jtag
adapter speed 1000
reset_config none

jtag newtap imx8mp cpu -irlen 4 -ircapture 0x01 -irmask 0x0f -expected-id 0x5ba00477
dap create imx8mp.dap -chain-position imx8mp.cpu

set debug_bases {0x80410000 0x80510000 0x80610000 0x80710000}
set cti_bases {0x80420000 0x80520000 0x80620000 0x80720000}

foreach core {0 1 2 3} {
    cti create imx8mp.cti$core -dap imx8mp.dap -ap-num 1 \
        -baseaddr [lindex $cti_bases $core]
    target create imx8mp.cpu$core aarch64 -dap imx8mp.dap -ap-num 1 \
        -dbgbase [lindex $debug_bases $core] -cti imx8mp.cti$core \
        -coreid $core -rtos hwthread
}

target smp imx8mp.cpu0 imx8mp.cpu1 imx8mp.cpu2 imx8mp.cpu3
target create imx8mp.debug mem_ap -dap imx8mp.dap -ap-num 1 -gdb-port disabled
targets imx8mp.cpu0
